@font-face {
  font-family: "Game of Thrones";
   src: url("../../fonts/Game of Thrones.ttf") format("truetype");
}

.nav {
  background: #c32536;
  min-height: 70px;
  position: fixed;
  width: 110%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: white;
  text-align: center;
  z-index:10;
}

.title,.status, .points{
  text-decoration: none;
  color: white;
  font-weight: 900;
  list-style-type: none;
  font-size: 1.5rem;
}
.title{
  font-size:2rem;
  font-family:"Game of Thrones";
}


.header {
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto 15px;
  color:white;
  height: 50px;
  padding: 100px 20px; 
  padding-bottom: 210px;
  text-align: center;
  text-shadow: -2px 0 #c32536, 0 2px #c32536, 2px 0 #c32536, 0 -2px #c32536;

}

.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem;
}
.header h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .title,.status, .points{
    margin:5px;
  }
  .header{
    padding-bottom: 250px;
  }
  .header h1 {
    margin-top:60px;
    font-size: 3rem;
  }
  .header h2 {
    font-size: 1.5rem;
  }
}
